* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}
a,
li {
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
p,
h2 {
  color: white;
}
body {
  font-family: Arial, sans-serif;
}
.container {
  position: relative;
  min-height: 100vh;
  background-color: black;
  width: 100%;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
}

.logo {
  width: 40px;
}
ul li {
  display: inline-block;
}
ul li a {
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.content .text {
  width: 40%;
}
.content .text h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.content .text p {
  font-size: 18px;
  margin: 20px 0;
}
.content .text a {
  background-color: white;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
}
.content .image {
  width: 30%;
}
.content .image img {
  width: 180px;
}
.icons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.icons img {
  width: 40px;
  transition: 0.4s ease;
  cursor: pointer;
}
.icons img:hover {
  transform: scale(1.2);
}
